.Channel {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex: 1;
  max-height: 100%;
}

.Channel-header {
  background-color: green;
    border-style: ridge;
  border-width: 7px;
  border-color: blue;
  font-weight: bold;
  padding: 5px;
}

.Channel-messages {
  border-style: ridge;
  border-width: 7px;
  border-color: yellow;
  background-color: skyblue;
  flex: 1;
  overflow: scroll;
}
